<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--这个配置指定了属性信息的配置文件-->
    <properties resource="conf/mysqlconf.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}" />
                <property name="url" value="${com.course.jdbc.url}" />
                <property name="username" value="${com.course.jdbc.username}" />
                <property name="password" value="${com.course.jdbc.password}" />
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <!--可以引入多个mapper来进行sql语句的分割-->
        <mapper resource="conf/mapping/course.xml"/>

    </mappers>
</configuration>